.home-header {
  background-color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 25px;
  color: rgb(70, 70, 70);
  h1 {
    padding-top: 18px;
    font-size: 38px;
    font-weight: 900;
    line-height: 34px;
  }
  p {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: 700;
    line-height: 26px;
  }
}

.url-highlight {
  background: #DC143C;
  background: rgb(219,20,59);
  background: linear-gradient(342deg, rgba(219,20,59,1) 0%, rgba(211,19,51,1) 100%);
  padding: 3px 7px;
  color: white;
}

.home-latest-tweets {
  border-radius: 20px;
  background: rgb(219,20,59);
  background: linear-gradient(342deg, rgba(219,20,59,1) 0%, rgba(211,19,51,1) 100%);
  border: 1.5px solid #cc1234;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  color: white;
  font-family: $fun-body;
  font-weight: 800;
  font-size: 14px;
  padding: 3px;
  width: 150px;
  margin: 0 auto;
  margin-bottom: -35px;
}

.home-container {
  width: 100%;
  display: flex;
  padding: 0;
  border: none;
}
.home-container-left {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(247, 247, 247);
}
.home-container-right {
  margin: 0;
  padding: 0;
  height: 100vh;
  top: 0;
}
.home-header {
  padding-bottom: 20px;
}
.home-tweet-container {
}
#map {
  position: sticky;
}
#distance-counter{
  position: absolute;
  right: 0;
  z-index: 10;
  margin: 20px;
  padding: 10px 15px;
  border-radius: 20px;
  background: linear-gradient(342deg, rgba(219,20,59,1) 0%, rgba(211,19,51,1) 100%);
  border: 1.5px solid #cc1234;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-family: $fun-body;
  font-weight: 800;
  font-size: 15px;
}

.home-about-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: 30px 15px;
  padding: 4px 10px;
  border-radius: 20px;
  background: linear-gradient(342deg, rgba(219,20,59,1) 0%, rgba(211,19,51,1) 100%);
  border: 1.5px solid #cc1234;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  font-family: $fun-body;
  font-weight: 800;
  font-size: 13px;
  i {
    font-size: 12px;
  }
  &:hover {
    background: #e2163c;
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}

.current-distance {
}

.marker {
  background-size: cover;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
}
.marker-left {
  background-image: image-url('forrest_marker_l.gif');
}
.marker-right {
  background-image: image-url('forrest_marker_r.gif');

}

// below md (768px)
@media (max-width: 768px) {
  .home-container {
    display: inline-block;
  }
  .home-container-right {
    bottom: 0;
    height: 50vh;
  }
  .home-header  {
    h1 {
      display: none;
    }
  }
  .tweet-photo {
    display: none;
  }
  #distance-counter{
    text-align: center;
    top: 0;
    width: 165px;
    font-size: 13px;
    padding: 5px;
  }
  .modal-content {
    width: 90%;
    font-size: 13px;
  }
  .modal-split-left {
    display: none;
  }
  .modal-split-right {
  width: 100%;
  }
}


