/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 180px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(202, 210, 211, 0.5);
}

/* Modal Content */
.modal-content {
  font-family: $fun-body;
  font-weight: 800;
  font-size: 15px;
  line-height: 21px;
  color: rgb(70, 70, 70);
  position: relative;
  background-color: #white;
  margin: auto;
  padding: 0;
  border: 0;
  width: 50%;
  border-radius: 1px;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  h1 {
    font-size: 36px;
    line-height: 34px;
    // padding-bottom: 30px;
  }
}
.modal-bold {
  color: rgb(120, 120, 120);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
  // background: rgb(219,20,59);
  // border: 1.5px solid #cc1234;
  color: rgb(219,20,59);
  font-weight: bold;
  font-weight: 800;
  font-size: 28px;
  // padding: 4px;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close:hover,
.modal-close:focus {
  color: white;
  background: #e2163c;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  display: flex;
  padding: 0;
}

.modal-split-left {
  width: 50%;
}

.modal-split-right {
  width: 50%;
  text-align: center;
  padding: 35px;
  // padding-top: 50px
  a {
    text-decoration: none;
  }
}

.modal-gif {
  border-radius: 1px 0 0 1px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-button {
    // margin: 30px 15px;
    // padding: 2px 8px;
    border-radius: 20px;
    width: 200px;
    margin: 0 auto;
    padding: 4px;
    background: linear-gradient(342deg, rgba(219,20,59,1) 0%, rgba(211,19,51,1) 100%);
    border: 1.5px solid #cc1234;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-family: $fun-body;
    font-weight: 800;
    font-size: 14px;
    // margin-top: 25px;
    i {
      font-size: 12px;
    }
    &:hover {
      background: #e2163c;
      cursor: pointer;
    }
    &:focus {
      outline: 0;
    }
  }

.modal-forrest-icon {
  background-size: cover;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
  background-image: image-url('forrest_marker_r.gif');
  display: inline-block;
  margin: 10px;
  }
